upstream django {
    server unix:///{{app_dir}}/mysite.sock; # for a file socket
}
server {
   listen 80;
   listen [::]:80;
   server_name {{domain}} www.{{domain}};
   charset     utf-8;
   location /static {
        alias {{app_dir}}/static; # your Django project's static files - ammend as required
    }
   location / {
        uwsgi_pass  django;
        #include     {{app_dir}}/uwsgi_params; # the uwsgi_params file you installed
        include     /etc/nginx/uwsgi_params; # the uwsgi_params file you installed
    }
}
